@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.table-responsive {
    width: 200px;
    height: 450px;
}

.container-tables{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#out-table{
    width: 1000px;
}

.container-table2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

button {
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    margin: 25px;
}

.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modale {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modale h1 {
    margin: 0;
}

.modale p {
    opacity: 0.7;
    font-size: 14px;
}