{% extends './layout.html' %}

{% block title %} Prueba de Poker {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/poker_test.css') }}">
{% endblock %}
{% block body %}

<div class="container py-3">
    <h1>Prueba de Poker</h1>

    <button id="open">
        Ingresar Datos
    </button>

    <div class="container-tables">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Número Pseudo-aleatorios</th>
                    </tr>
                </thead>
                <tbody>
                    {% for number in randomNumbers %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ number }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container-table2">
            <table class="table table-striped" id="out-table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Categoria</th>
                        <th scope="col">Observaciones</th>
                        <th scope="col">Probabilidad</th>
                        <th scope="col">Probabilidad esperada</th>
                        <th scope="col">Probabilidad obtenida</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in matrix %}
                    <tr>
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Suma: </strong> {{ sum }}
            </div>

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Chi2: </strong> {{ chi2 }}
            </div>

            {% if verify == True %}
            <div class="alert alert-success" role="alert">
                La generación de números pseudo-aleatorios es correcta 😊😊😊😊
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                La generación de números pseudo-aleatorios es incorrecta 🤬🤬🤬🤬
            </div>
            {% endif %}

            <h3>Gráfico</h3>
            <img src="data:image/png;base64,{{ grafic }}" />
        </div>
    </div>
</div>

<div id="modal_container" class="modal-container">
    <div class="modale">
        <h1>Ingrese los parámetros de entrada</h1>
        <form method="POST" action="{{ url_for('set_atributes_poker_test') }}" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="input-file" class="form-label">Seleccionar datos</label>
                <input type="file" id="input-file" name="input-file" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary" id="close" disabled>Enviar</button>

        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}