{% extends './layout.html' %}

{% block title %} Prueba de Varianza {% endblock %}

{% block body %}
    <div class="container">
        <h3>Prueba de varianza</h3>
        <div class="row">
            <div class="col-6">
                <p>Aceptación: 95%</p>
            </div>
            <div class="col-6">
                <p>Error (α): 5%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label>Únicamente se permiten archivos con extensión .csv</label>
                <form method="POST" action="{{ url_for('set_numbers_in_variance_test') }}" enctype="multipart/form-data">
                    <input id="file" class="custom-file-input" type="file" name="file" required>
                    <button class ="btn btn-success" id="submitBtn" type="submit" class="button-primary">
                        Enviar archivo
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div id="table-div" style="overflow-y: scroll; height: 400px;    padding-top: 10px;">
                    <table class="table table-striped" >
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Números Ri</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for element in ri_list %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ element }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-9">
                <div id="table-results" style="padding-top: 10px;">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">n</th>
                                <th scope="col">Promedio</th>
                                <th scope="col">Varianza</th>
                                <th scope="col">Alpha/2</th>
                                <th scope="col">1-(Alpha/2)</th>
                                <th scope="col">chi-inv-1</th>
                                <th scope="col">chi-inv-2</th>
                                <th scope="col">Límite inferior</th>
                                <th scope="col">Límite superior</th>
                            </tr>
                            <tbody>
                                {% set n = length %}
                                {% set mean = mean %}
                                {% set variance = variance %}
                                {% set alpha_half = 0.05/2 %}
                                {% set one_minus_alpha_half = 1 - alpha_half %}
                                {% if n is defined %}
                                    <tr>
                                        <td>
                                            {{ n }}
                                        </td>
                                        <td>
                                            {{ mean|round(5) }}
                                        </td>
                                        <td>
                                            {{ variance|round(5) }}
                                        </td>
                                        <td>
                                            {{ alpha_half|round(5)}}
                                        </td>
                                        <td>
                                            {{ one_minus_alpha_half|round(5) }}
                                        </td>
                                        <td>
                                            {{ variables[0]|round(5) }}
                                        </td>
                                        <td>
                                            {{ variables[1]|round(5) }}
                                        </td>
                                        <td>
                                            {{ variables[2]|round(5) }}
                                        </td>
                                        <td>
                                            {{ variables[3]|round(5) }}
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </thead>
                    </table>
                </div>
            <div class="row">
                <div class="col-8">
                    {% if is_valid %}
                    <div class="alert alert-success" role="alert">
                        Los números pseudoaleatorios han superado la prueba 😊😊😊😊
                    </div>
                    {% else %}
                    <div class="alert alert-danger" role="alert">
                        Los números pseudoaleatorios no han superado la prueba 🤬🤬🤬🤬
                    </div>
                    {% endif %}
                </div>
            </div>
            <h3>Gráfico</h3>
            <img src="data:image/png;base64,{{ grafic }}" />
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/variance_test.js') }}"></script>
{% endblock %}